<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommandTools.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9410F4D24E7CFBA0076BB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9410F6B24E7CFBC0076BB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9410F7624E7CFBC0076BB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
